version: "3.1"

services:
  db:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: admin
      POSTGRES_USER: admin
      POSTGRES_DB: mental_health
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4:9.11.0
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8888:80"
    depends_on:
      - db
    restart: unless-stopped

  web:
    build: .
    restart: unless-stopped
    ports:
      - "8000:8000"
