version: "3.1"

services:
  db:
    image: postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4:9.11.0
    container_name: pgadmin
    env_file:
      - .env
    ports:
      - "8888:80"
    depends_on:
      - db
    restart: unless-stopped

  web:
    build: .
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
