apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  db_connection_string: {{ .Values.mentalhealth.db_connection_string | quote }}
  google_api_key: {{ .Values.mentalhealth.google_api_key | quote }}
